:root{
    --secondary-color: #f14f52;
    --primary-color: #F3F4F9;
    --font-color: #545151;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 3fr 1fr;
    grid-template-rows: 0.8fr 2fr 2fr 0.2fr;
    color: var(--font-color);
}

.sidebar{
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    font-size: 1.7rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.dashboard{
    font-size: 1.85rem;
    margin-inline-start: 20px;
    margin-inline-end: 50px;
    margin-block: auto;
}

.top-dashboard > ul >li, .bottom-dashboard > ul > li{
    margin-bottom: 10px;
    margin-inline: 20px;
    cursor: pointer;
}

li:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.3s;
}

.navbar{
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    border-bottom: 1.2px thins;
}

.top-navbar{
    font-size: 3rem;
    display: grid;
    grid-template-columns: 2fr 0.2fr 1fr;
}

.search{
    display: flex;
    margin-inline: 130px;
    align-items: center;
}

.search > input{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    margin-inline: 8px;
    background-color: var(--primary-color);
    border: none;
    padding-inline: 10px;
    font-size: 1rem;
}

.bell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.display-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(235, 235, 0);
    padding-right: 25px;
}

.full-name{
    font-size: 1.4rem;
    padding-left: 25px;
}

.bottom-navbar{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
}

.big-name{
    display: flex;
    align-items: center;
    margin-inline: 130px;
}

.big-name > .display-picture {
    width: 70px;
    height: 70px;
    color: --font-color;
}

.content{
    margin-left: 15px;
}

.content :nth-child(1){
    font-size: 1.4rem;
}

.content :nth-child(2){
    font-size: 1.9rem;
    font-weight: bold;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    width: 140px;
    height: 45px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #f14f52bc;
    transition: all 0.3s;
}

.announcement{
    display: grid;
    grid-template-rows: 0.05fr 0.5fr;
    background-color: white;
    color: var(--font-color);
}

.announcement > p{
    margin: 30px 30px;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--secondary-color);
}

.column{
    font-size: 0.9rem;
    background-color: var(--primary-color);
    margin-inline: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 8px;
}

.column > div > h4{
    padding-block: 8px;
}


.projects{
    background-color: white;
    grid-row: 2/4;   
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

.projects > p{
    margin-block: auto;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--secondary-color);
    margin-inline: 30px;
}

.column-three{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card{
    border-radius: 8px;
    background-color: var(--primary-color);
    margin-inline: 30px;
    margin-block: 15px;
    padding: 10px;
}


.card > h4{
    font-size: 1.6rem;
    color: var(--secondary-color);
}


.trending{
    display: grid;
    grid-template-rows: 0.05fr 0.5fr;
    background-color: white;
    color: var(--font-color);
}

.trending > p{
    margin: 30px 30px;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--secondary-color);
}

.column-two{
    background-color: var(--primary-color);
    margin-inline: 30px;
    border-radius: 8px;
}

.child{
    display: flex;
    margin-block: 27px;
}

.child > div > p{
    font-size: 0.9rem;
}

.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-inline: 8px;
}

.one{
    background-color: aqua;
}

.two{
    background-color: yellow;
}

.three{
    background-color: grey;
}

.four{
    background-color: pink;
}
.footer{
    background-color: white;
    grid-column: 1/4
}